* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
}
.search{
  text-align: center;
}
input{
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: rgb(43, 43, 43);
  border: none;
  border-radius: 5px;
  outline: none;
}
.sitename{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  background-color: black;
  opacity: 70%;
  padding: 1px 0;
}
.sitename a{
  text-decoration: none;
  color: aliceblue;
}
h2
{
  color: aliceblue;
}
.opacity-bg {
  background-color: black;
  opacity: 70%;
  max-height: 1080px;
  max-width: 1920px;
}
.tagline {
  color: azure;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}
.tagline a{
  color: rgb(30, 255, 0);
}
.container {
  background-color: rgba(255, 255, 255, 0.39);
  padding: 20px 0;
}
.movie-box {
  text-align: center;
  background-color: rgb(255, 255, 255);
  max-height: 400px;
  max-width: 190px;
  margin: 20px;
  width: 180px;
  height: 390px;
  padding: 20px;
}
img {
  height: 275px;
  width: 180px;
  opacity: 100%;
}
img:hover {
  opacity: 90%;
  cursor: pointer;
}
.movie-box p {
  font-family: "Oswald", sans-serif;
  font-weight: 800;
}
.movie-box p:hover {
  cursor: pointer;
}
.movie-box a {
  color: rgb(32, 32, 32);
  text-decoration: none;
}
ul {
  display: flex;
  flex-wrap: wrap;
  
}
li {
  list-style: none;
}
.footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.footer a{
  color: white;
  text-decoration: none;
  text-align: center;
}
h5{
  margin-top: 10px;
  margin-left: 700px;
  margin-right: 700px;
  border: 2px solid white;
  padding: 5px;
  font-weight: 800;
}
h5:hover{
  background-color: white;
  color: black;
}
.top{
  text-align: center;
  align-items: center;
}
@media only screen and (max-width:700px){
    .sitename{
        max-width: 700px;
    }
    .movie-box{
        margin: 10px;
        max-width: 300px;
        width: 130px;
        height: 250px;
        padding-left: 25px;
    }
    p{
      text-align: center;
    }
    body{
      max-width: 700px;
    }
    img{
      width: 130px;
      height: 150px;
    }
    .opacity-bg{
        max-width: 700px;
    }
    .footer a{
      text-align: center;
    }
    h5{
      margin-left: 100px;
      margin-right: 100px;
    }
}